.general-modal-layout {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-frame {
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
}
