.modal-footer {
  width: 100%;
  border-radius: 8px 8px 0 0;
  padding: 12px 24px 24px;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.modal-button {
  /* default style 제거 */
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;

  /* custom style */
  flex: 1;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
}

.theme-confirm {
  background-color: #ffac09;
}

.theme-cancel {
  background-color: #eff1f3;
}
